#title {
    color: green;
}

#title-new {
    color: greenyellow;
}

.text {
    color: indigo;
}

.big {
    font-size: 30px; color: lightcoral;
}

.subject.large {
    color: brown; font-size: 40px;
}

.text.large {
    color: brown; font-weight: 900;
}

.list .link {
    color: rgb(4, 107, 43);
}

.item .link-new {
    color: red;
}